{% extends 'admin/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5 justify-content-end">
        <div class="col">
            {{ include('admin/include/flash_messages.html.twig') }}
        </div>
       {% if is_granted('ROLE_SUPER_ADMIN') %}
           <div class="col-sm-1">
               <button class="btn btn-success" id="create-block-type-button">{% trans %}block-type.grid.button.create{% endtrans %}</button>
           </div>
        {% endif %}
    </div>
    <div class="row mt-5">
        <div class="col">
            {{ include('admin/include/data_grid.html.twig', {head_columns: block_type_header, value_columns: block_types}) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_block_type_grid_block_type') }}
{% endblock %}
