{% extends 'admin/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="container-fluid">
        <div class="row mt-5 justify-content-end">
            <div class="col">
                {{ include('admin/include/flash_messages.html.twig') }}
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success" id="create-page-template-block-type-button">{% trans %}page-template-block-type.grid.button.create{% endtrans %}</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
            {{ include('admin/include/data_grid.html.twig', {head_columns: page_template_block_type_header, value_columns: page_template_block_types}) }}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_page_template_block_type_grid_page_template_block_type') }}
    {{ encore_entry_script_tags('admin_include_data_grid') }}
{% endblock %}
