{% extends 'admin/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_page_template_grid_page_template') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 justify-content-end">
        <div class="col">
            {{ include('admin/include/flash_messages.html.twig') }}
        </div>
        <div class="col-sm-1">
            <button class="btn btn-success" id="create-page-template-button">Create</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
        {{ include('admin/include/data_grid.html.twig', {head_columns: page_template_header, value_columns: page_templates}) }}
        <div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_page_template_grid_page_template') }}
{% endblock %}