{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin/admin_layout.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ include('admin/include/top_menu.html.twig') }}
        </div>
    </div>

    {{ include('admin/include/right_menu.html.twig') }}

<div class="row">
    <div class="col">
        SOMETHING
        {# page content #}
    </div>
</div>

    

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/admin_layout.js') }}"></script>
{% endblock %}