{% extends 'admin/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card text-center mt-5">
        <div class="card-header">
            {% trans %}site.show.informations{% endtrans %}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {% if form.vars.errors.form.getErrors(true)|length %}
                    <div class="alert alert-danger">
                        <ul class="list-group">
                            {% for error in form.vars.errors.form.getErrors(true) %}
                                <li class="d-flex justify-content-between align-items-center">{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group row">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control col-sm-10'}}) }}
                </div>            
                <div class="form-group row">
                    {{ form_label(form.icon, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                    {{ form_widget(form.icon, {'attr': {'class': 'form-control-file col-sm-10'}}) }}
                    <small class="form-text text-muted offset-sm-2">
                        {{ form_help(form.icon) }}
                    </small>
                </div>
                {{ form_row(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}