<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="{% block meta_robot %}index, follow{% endblock %}">
        <title>{% block title %}{{ get_title() }}{% endblock %}</title>
        {% if get_icon() is not null %}
            <link rel="icon" href="{{ asset(get_icon()) }}">
        {% endif %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- FOSJsRoutingBundle :  In applications not using webpack add these two lines in your layout: -->
            {# <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script> #}
            {# <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> #}
            {# <script src="{{ asset('js/router.min.js') }}" ></script> #}
            {# <script src="{{ asset('js/configure_router.js') }}"></script> #}
            <!-- FOSJsRoutingBundle -->
        {% endblock %}
    </body>
</html>
